/* BODY */
.dc-engagement-index {

  .dc-btn-info {
    @include background(linear-gradient(#5bc0de, #2596b8));
    background-color: #46b0cf;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }
  .dc-btn-primary {
    @include background(linear-gradient(to bottom, #0abeff, #0a95ff));
    background-color: #0aaeff;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }
  .dc-disclaimer {
    font-size: 14px;
    margin-top: 35px;
  }
  .dc-engagement-search {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    padding: 4px 6px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    vertical-align: middle;
    width: 155px;

      &:focus {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
      }
  }
  .dc-engagement-search-section {
    margin-left: 20px;
  }
  .dc-header-color {
    background: none repeat scroll 0 0 #e4e9ed;
  }
  .dc-header-title:hover {
    background-color: rgb(217,237,247);
  }
  .dc-main {
    margin: 0 auto;
    width: 70%;
  }
  .dc-note {
    margin-top: 50px;
  }
  .dc-pointer-hand th {
    cursor: pointer;
    cursor: hand;
  }
  .dc-sort-controls {
    margin-bottom: -25px;
    margin-top: 40px;
  }
  .dc-table-margin {
    margin-top: 50px;
  }
  .dc-table-unshare-margin {
    margin-top: 0px;
  }
  .dc-table-unshare-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 15px;
  }
  .dc-table-striped-border {
    border: 1px solid #dddddd;
  }
  .dc-user-info {
    margin-top: 35px;
    width: 100%;
  }
  .dc-user-info-data {
    font-weight: normal;
  }
  .dc-user-info-text {
    font-size: 18px;
    font-weight: bold;
    padding-left: 100px;
  }
  .dc-user-info-text-points {
    padding-left: 0px;
  }
}
