/* BODY */
.dc-engagement-index {

  .main {
    width: 65%;
    margin: 0 auto;
  }

  .dc-student-search {
    width: 200px;
    margin-left: 50px;
  }

  .dc-sort-controls {
    margin-top: 50px;
    margin-bottom: 25px;
  }

  .dc-course-section-title {
    width: 135px;
  }

}
