.dc-engagement-index {
  // Engagment Index Splash
  .dc-engagement-index-description {
    margin-bottom: 30px;
  }
  .dc-engagement-index-disclaimer {
    margin-top: 20px;
  }
  .dc-engagement-index-screenshot-container {
    max-width: 500px;
  }
  .dc-engagement-index-screenshot-example {
    @include box-shadow(3px 3px 5px #aaa);
    background-image: asset-url("engagement_index_screenshot-1100x580.png");
    padding-bottom: 52.7272%;
  }

  // Engagement Index Sharing
  .dc-engagement-index-sharing {
    padding-top: 20px;
    .dc-engagement-index-continue {
      margin-top: 10px;
    }
  }

  // Engagement Index Current User Info
  .dc-user-info {
    margin-top: 20px;
    .dc-user-badge {
      background-color: #f6f6f6;
      border: 1px solid #eee;
      border-radius: 2px;
      float: left;
      margin-bottom: 20px;
      margin-right: 25px;
      padding: 5px;
      text-align: center;
      width: 150px;
      .dc-user-badge-value {
        color: rgb(51, 51, 51);
        font-size: 45px;
        font-weight: 300;
        line-height: 60px;
      }
      .dc-user-badge-info {
        background-color: rgb(136, 172, 196);
        color: #fff;
        font-size: 13px;
        margin-top: 5px;
        padding: 2px;
      }
    }
    .dc-user-badge-boxplot-container {
      width: 300px;
      .dc-user-badge-boxplot {
        height: 60px;
        width: 290px;
        .highcharts-container, svg {
          overflow: visible !important;
        }
      }
    }
  }
  .dc-engagement-index-divider {
    margin-bottom: 25px;
    margin-top: 0;
  }

  // Engagement Index Leaderboard
  .dc-engagement-index-controls {
    margin: 20px 0;
    .dc-engagement-search {
      display: inline-block;
      padding: 4px 6px;
      width: 200px;
    }
  }
  .dc-enagement-index-leaderboard {
    margin-bottom: 0;
    .dc-header-title {
      th {
        cursor: pointer;
        &:hover, &:focus {
          background-color: #d9edf7;
          text-decoration: underline;
        }
      }
    }
  }
}
