.dc-engagement-index {
  // Engagment Index Splash
  .dc-engagement-index-description {
    margin-bottom: 30px;
  }
  .dc-engagement-index-disclaimer {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .dc-engagement-index-screenshot-container {
    max-width: 500px;
  }
  .dc-engagement-index-screenshot-example {
    @include box-shadow(3px 3px 5px #aaa);
    background-image: asset-url("engagement_index_screenshot.png");
    margin-bottom: 30px;
    padding-bottom: 52.7272%;
  }

  // Engagement Index Sharing
  .dc-engagement-index-sharing {
    .dc-engagement-index-continue {
      margin-top: 10px;
    }
  }

  // Engagement Index Current User Info
  .dc-user-info {
    margin-top: 20px;
    .dc-user-badge {
      background-color: #eee;
      border-radius: 4px;
      color: #444;
      float: left;
      margin-bottom: 20px;
      margin-right: 25px;
      padding: 10px;
      text-align: center;
      width: 150px;
      .dc-user-badge-info {
        font-size: 14px;
        padding: 2px;
        text-transform: uppercase;
      }
      .dc-user-badge-value {
        font-size: 48px;
        font-weight: 300;
        line-height: 60px;
      }
    }
    .dc-user-badge-boxplot-container {
      width: 300px;
      .dc-user-badge-boxplot {
        height: 60px;
        width: 290px;
        .highcharts-container, svg {
          overflow: visible !important;
        }
      }
      // Style the Highcharts tooltip. In order to get the tooltip
      // to display correctly outside of the chart area on all browsers,
      // we need to override a number of the inline styles that are
      // applied by Highcharts
      // @see https://jira.ets.berkeley.edu/jira/browse/CYB-414
      .highcharts-tooltip {
        background-color: #000;
        border-color: #000;
        border-radius: 6px;
        padding: 8px;
        span {
          left: 0 !important;
          position: relative !important;
          top: 0 !important;
        }
      }
    }
  }

  // Engagement Index Leaderboard
  .dc-engagement-index-controls {
    margin: 10px 0 20px;
    .dc-engagement-search {
      display: inline-block;
      padding: 4px 6px;
      width: 200px;
    }
  }
  .dc-enagement-index-leaderboard {
    margin-bottom: 20px;
    .dc-header-title {
      th {
        cursor: pointer;
        &:hover, &:focus {
          background-color: #d9edf7;
          text-decoration: underline;
        }
      }
    }
  }
}
