// BODY
.dc-engagement-index {
  .dc-engagement-index-controls {
    margin: 40px 0 20px;
  }
  .dc-engagement-index-description {
    margin-bottom: 40px;
  }
  .dc-engagement-index-disclaimer {
    margin-top: 20px;
  }
  .dc-engagement-index-screenshot-container {
    max-width: 500px;
  }
  .dc-engagement-index-screenshot-example {
    @include box-shadow(3px 3px 5px #aaa);
    background-image: asset-url("engagement_index_screenshot-1100x580.png");
    padding-bottom: 52.7272%;
  }
  .dc-engagement-index-sharing {
    padding-top: 20px;
  }

  .dc-engagement-search {
    display: inline-block;
    padding: 4px 6px;
    width: 155px;
  }
  .dc-header-title {
    th {
      &:hover, &:focus {
        background-color: #d9edf7;
        text-decoration: underline;
      }
    }
  }
  .dc-mouse-pointer {
    cursor: pointer;
  }
  .dc-user-info {
    font-size: 18px;
  }
}
