/* BODY */
.dc-engagement-index {

  .dc-btn-info {
    background-color: #46b0cf;
    background-image: linear-gradient(to bottom, #5bc0de, #2596b8);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }
  .dc-engagement-search {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    margin-left: 50px;
    padding: 4px 6px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    vertical-align: middle;
    width: 186px;
  }
  .dc-engagement-search:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  }
  .dc-header-color {
    background: none repeat scroll 0 0 #e4e9ed;
  }
  .dc-header-title {
    border-bottom: 1px solid #dddddd;
  }
  .dc-main {
    margin: 0 auto;
    width: 65%;
  }
  .dc-sort-controls {
    margin-bottom: 25px;
    margin-top: 50px;
  }
  .table {
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
  }
  .table-striped {
    border: 1px solid #dddddd;
  }
  .table-striped tbody tr:nth-child(2n+1) td {
    background-color: #f9f9f9;
  }
}
