.dc-gallery {
  body {
    color: #777;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .8em;
    overflow-x: hidden;
  }
  .dc-gallery-container {
    height: 100%;
    overflow-x: hidden;
    padding-left: 20px;
  }
  a {
    color: #777;
    text-decoration: none;
    &:hover {
      color: #0092dd;
    }
  }
  b {
    color: #0092dd;
    font-weight: 300;
  }
  .dc-blue-thumb {
    color: #0092dd;
  }
  button {
    background-color: transparent;
    border: 0;
    color: #0d628e;
    text-decoration: none;
    &:disabled {
      color: #aaa;
    }
    &:focus {
      border: 0;
      box-shadow: none;
      outline: none;
    }
  }
  h1 a {
    color: #0d628e;
    font-size: .9em;
    font-weight: 300;
  }
  h2 {
    color: #0d628e;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }
  input, textarea {
    border: 1px solid #eaeaea;
    border-radius: 0;
    color: #777;
    font-weight: 300;
    margin: 6px;
    padding: 4px;
    width: 182px;
    @include single-transition(all, .3s, ease-in-out);
  }
  input:focus, textarea:focus, select:focus {
    border: 1px solid rgba(0, 125, 221, .75);
    box-shadow: 0 0 5px rgba(0, 125, 221, .8);
    outline: none;
  }
  select {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 0;
    color: #777;
    font-weight: 300;
    height: 22px;
    margin: 6px;
    padding: 4px;
    width: 130px;
    @include single-transition(all, .3s, ease-in-out);
  }
  textarea {
    resize: none;
  }

  // THUMBNAIL
  .dc-thumbnail-caption {
    font-size: .9em;
    margin-top: 3px;
    position: relative;
    text-align: center;
    width: 200px;
  }
  .dc-thumbnail-image {
    background: #fcfcfc;
    border: 1px solid #eaeaea;
    float: left;
    margin: 8px;
    padding: 2px;
  }
  .dc-thumbnail-hover {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      height: auto;
      position: relative;
      &:hover .dc-thumbnail-hover-caption {
        background-color: rgba(10, 88, 129, 1);
        color: rgba(240, 240, 240, 1);
      }
    }
  }
  .dc-thumbnail-hover-caption {
    background-color: rgba(10, 88, 129, 0);
    bottom: 0;
    color: rgba(240, 240, 240, 0);
    height: 50px;
    margin-left: 0;
    overflow: hidden;
    position: absolute;
    width: 200px;
    @include single-transition(all, .5s, ease);
    p {
      font-size: .9em;
      margin-left: 10px;
      margin-top: -10px;
      opacity: 100;
    }
  }
  .dc-thumbnail-video {
    opacity: .7;
  }
  // FULL VIEW LAYOUT
  .dc-full-align-right {
    float: right;
  }
  .dc-full-align-left {
    float: left;
  }
  .dc-full-back-link {
    color: #888;
  }
  .dc-full-back-link:hover {
    color: #555;
  }
  .dc-full-comments-position {
    vertical-align: top;
    width: 530px;
  }
  .dc-full-container {
    font-size: .9em;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 70px;
    width: 750px;
  }
  .dc-full-details-position {
    padding-left: 15px;
    vertical-align: top;
    width: 205px;
  }
  .dc-full-header {
    background: #fcfcfc;
    border-bottom: 1px solid #efefef;
    font-size: .85em;
    left: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    h2 {
      color: #0d628e;
    }
  }
  .dc-full-image {
    max-width: 750px;
  }
  .dc-full-image-details {
    font-size: .9em;
    font-weight: 300;
    position: relative;
  }
  .dc-full-image-description {
    clear: both;
    margin-bottom: 20px;
  }
  .dc-full-image-inline {
    background: #f9f9f9;
    clear: both;
    display: table-cell;
    float: left;
    margin-bottom: 20px;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: 750px;
  }
  .dc-full-likes-inline {
    background: #ddd;
    margin-bottom: 10px;
  }
  .dc-full-navigate {
    width: 750px;
  }

  // COMMENTS
  .dc-comment-by-image {
    background-image: url('tempicon.png');
    background-size: cover;
    border-radius: 50%;
    float: left;
    height: 45px;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-top: 5px;
    width: 45px;
  }
  .dc-comment-by {
    color: #1c3a5e;
  }
  .dc-comment-button {
    background: rgba(255, 255, 255, .6);
    border: 1px solid #bbb;
    font-weight: 300;
    margin-left: 0;
    margin-top: 5px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
  }
  .dc-comment-button:active {
    color: #0092dd;
  }
  .dc-comment-button:focus {
    border: 1px solid #bbb;
  }
  .dc-comment-inline {
    background: #f1f6fb;
    font-size: .9em;
    margin-bottom: 12px;
    margin-top: 5px;
    padding: 8px;
  }
  .dc-comment-name {
    width: 251px;
  }
  .dc-comment-name, .dc-comment-textarea {
    background: #fff;
    border: 1px solid #ccc;
    font-weight: 300;
    margin: 0;
    margin-top: 7px;
    padding: 2px;
  }
  .dc-comment-reply {
    background: #fdfeff;
    font-size: 1em;
    margin: 12px;
    padding: 8px;
  }
  .dc-comment-textarea {
    width: 300px;
  }
  .dc-line-break {
    border-top: 1px solid #ddd;
    margin-bottom: 18px;
    margin-top: 18px;
  }
}
