.dc-gallery {
  input, textarea {
    @include single-transition(all, .3s, ease-in-out);
    border: 1px solid #eaeaea;
    border-radius: 0;
    color: #777;
    font-weight: 300;
    margin: 6px;
    padding: 4px;
    width: 182px;
  }
  input, textarea, select {
    &:focus, &:hover {
      border: 1px solid rgba(0, 125, 221, .75);
      box-shadow: 0 0 5px rgba(0, 125, 221, .8);
      outline: none;
    }
  }
  select {
    @include single-transition(all, .3s, ease-in-out);
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 0;
    color: #777;
    font-weight: 300;
    height: 22px;
    margin: 6px;
    width: 130px;
  }
  textarea {
    margin: 0;
    resize: none;
    width: 100%;
  }

  .dc-comments-list {
    list-style-type: none;
    margin: 20px 0;
    max-width: 600px;
    padding: 0;
    li {
      background: #f9f9f9;
      margin: 10px 0;
      padding: 5px;
    }
    .dc-comments-list-comment-info {
      color: #888;
      .btn {
        padding: 1px 5px;
      }
    }
    .dc-comments-list-comment {
      @include hyphens(auto);
      white-space: pre-wrap;
      word-break: break-word;
      word-wrap: break-word;
    }
  }

  .dc-full-back-link {
    color: #888;
    &:hover {
      color: #555;
    }
  }
  .dc-full-container {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .dc-full-header {
    border-bottom: 1px solid #efefef;
    padding: 10px;
  }
  .dc-full-image {
    max-width: 750px;
    width: 100%;
  }
  .dc-gallery-item-likes {
    margin: 12px 0 0 10px;
  }
  .dc-thumb {
    color: #0d628e;
    padding: 2px 6px 3px;
    &:disabled {
      color: #999;
    }
  }
  .dc-thumb-blue {
    color: #0092dd;
  }

  .dc-thumbnail-caption {
    font-size: .9em;
    text-align: center;
  }
  .dc-thumbnail-item-container {
    background: #fcfcfc;
    border: 1px solid #eaeaea;
    float: left;
    margin: 8px;
    padding: 2px;
    img {
      max-width: 100%;
    }
    .dc-thumbnail-item {
      @include background-size(cover);
      display: block;
      height: 200px;
      margin: 10px;
      position: relative;
      width: 200px;
      &:focus, &:hover {
        .dc-thumbnail-hover {
          opacity: 1;
        }
      }
      .dc-thumbnail-hover {
        @include single-transition(all, .5s, ease);
        background-color: #0a5881;
        bottom: 0;
        color: #f0f0f0;
        opacity: 0;
        position: absolute;
        width: 100%;
        p {
          font-size: .9em;
          margin-left: 10px;
          margin-top: -10px;
          opacity: 100;
        }
      }
    }
  }

  .dc-videowrapper {
    height: 0;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;
    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
