.dc-points-configuration {

  .dc-points-configuration-buttons {
    margin-top: 5px;
  }
  .dc-points-configuration-main-container {
    max-width: 550px;
  }
  .dc-points-configuration-table-container {
    margin: 5px auto;
    table {
      th:first-child {
        width: 350px;
      }
      td {
        vertical-align: middle;
      }
    }
  }
  .dc-points-configuration-table-points-input {
    margin: 0 auto;
    width: 50px;
  }
}
