<p class="dc-engagement-index-description">
  The engagement index is a scoreboard that lists the names and scores of all the students taking this course. If you do not wish to share your engagement score, uncheck the box below and click 'Continue'. This is what the engagement index will look like if you choose to share:
</p>

<div class="dc-engagement-index-screenshot-container">
  <div class="dc-image-responsive dc-engagement-index-screenshot-example">
    <span class="sr-only">The engagement index will show your total number of points, your rank in the course and how you compare to the other students taking this course.</span>
  </div>
</div>

<div data-ng-include="'engagement_index_sharing_option.html'"></div>
