<p class="dc-engagement-index-description">
  The engagement index is a scoreboard that lists the names and scores of all the students taking this course. You have the option to share your engagement score. If you do not wish to share, simply click 'Save'. Below is an example of what the engagement index will look like if you choose to share:
</p>

<h2>Shared View</h2>
<div class="dc-engagement-index-screenshot-container">
  <div class="dc-image-responsive dc-engagement-index-screenshot-example"></div>
</div>

<div data-ng-include="'engagement_index_sharing_option.html'"></div>
