<div data-ng-cloak data-ng-controller="EngagementIndexController" class="dc-engagement-index" autoscroll="false">

  <div class="dc-main">

    <h2 class="dc-header-h2">Engagement Index</h2>

    <div class="dc-disclaimer alert alert-info">
      <p><strong>Note: </strong></span>You have chosen not to share your points on the Engagement Index.</p>
    </div>

    <!-- Student Score Info -->
    <div class="dc-user-info">
      <span class="dc-user-info-text dc-user-info-text-points"><strong>Your Points: </strong><span data-ng-bind="currStudent.points"></span></span>
      <span class="dc-user-info-text"><strong>Your Percentile: </strong><span data-ng-bind="currStudent.studentPercentile"></span></span>
      <span class="dc-user-info-text"><strong>Last Point Earned: </strong><span data-ng-bind="currStudent.last_activity_date"></span></span>
    </div><!-- End of student score info -->

  </div><!-- End of main div -->
</div><!-- End of dc-engagement-index -->
