<div data-ng-cloak data-ng-controller="EngagementIndexLandingPageController" class="dc-engagement-index-landing-page">

  <div class="dc-main">

    <h2 class="dc-header-h2">Engagement Index</h2>

    <!-- Engagement Index Description -->
    <div class="dc-description">
      <p>
        The engagement index is a scoreboard that lists the names and scores of all the students taking this course. You have the option to share your engagement score. If you do not wish to share, simply click 'Save'. Below is an example of how the engagement index will look like if you choose to share:
      </p>
    </div> <!-- End of dc-description -->

    <!-- Screenshot examples of Share and Not Share Views -->
    <div class="dc-screenshots">
      <div class="dc-share-screenshot">
        <h3 class="dc-header-h3">Shared View</h3>
        <img class="dc-screenshot" src="http://cl.ly/image/162Z3V2s412R/engagement_index_share_new.png"/>
      </div>
    </div> <!-- End of dc-screenshots -->

    <!-- Select share or not share -->
    <div class="dc-select-share">
     <form>
        <div><input type="checkbox" data-ng-model="choice"> Yes, I want to share my score on the Engagement Index.</div>
        <div><a data-ng-href="{{redirectPage()}}" data-ng-click="shareDataPass()" class="btn dc-btn-primary" type="button">Save</a></div>
      </form>
    </div><!-- End of dc-select-share -->

    <div class="dc-table-margin"><a href="/engagement_index_instructor">Instructor View &#8594;</a></div>

  </div><!-- End of main div -->
</div><!-- End of dc-engagement-index-landing-page -->
