<div data-ng-cloak data-ng-controller="EngagementIndexController" class="dc-engagement-index">

  <div class="dc-main">

    <h1 class="text-center">Engagement Index Prototype (Instructor View)</h1>

    <div class="dc-disclaimer alert alert-info">
      <p><strong>Disclaimer: </strong>Some activity points (e.g. Discussions) may not show up immediately  on the Engagement Index.</p>
    </div>

    <hr />

    <!-- Filter Controls -->
    <div class="dc-sort-controls">
      <form class="form-inline">
        <!-- Filter search by student & course section -->
        <input type="text" class="dc-engagement-search" placeholder="Search for student..." data-ng-model="search.$">
        <input type="text" class="dc-engagement-search dc-engagement-search-section" placeholder="Filter by section..." data-ng-model="search.section">
      </form><!-- End of form -->
    </div><!-- End of dc-sort-controls -->

    <!-- Engagement Index Table: For Students who SHARED -->
    <table class="table table-striped table-bordered dc-table-striped-border dc-table-margin">
      <thead class="dc-header-color">
        <tr class="dc-pointer-hand dc-header-title">
          <th data-ng-click="predicate='sortable_name'; reverse=!reverse; showcaretStudent=!showcaretStudent" data-ng-class="{ dropup: showcaretStudent }">Student <span class="caret"></span></th>
          <th data-ng-click="predicate='section'; reverse=!reverse; showcaretSection=!showcaretSection" data-ng-class="{ dropup: showcaretSection }">Section <span class="caret"></span></th>
          <th data-ng-click="predicate='share'; reverse=!reverse; showcaretShare=!showcaretShare" data-ng-class="{ dropup: showcaretShare }">Share <span class="caret"></span></th>
          <th data-ng-click="predicate='points'; reverse=!reverse; showcaretPoints=!showcaretPoints" data-ng-class="{ dropup: showcaretPoints }">Points <span class="caret"></span></th>
          <th data-ng-click="predicate='last_activity_date'; reverse=!reverse; showcaretLastPoint=!showcaretLastPoint" data-ng-class="{ dropup: showcaretLastPoint }">Last Point Earned <span class="caret"></span></th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="students in people | orderBy:predicate:!reverse | filter:search:strict" data-ng-class="{ info: students.current }" data-ng-show="visibility">
          <td class="col-sm-2" data-ng-bind="students.name"></td>
          <td class="col-sm-2" data-ng-bind="students.section"></td>
          <td class="col-sm-2" data-ng-bind="students.share"></td>
          <td class="col-sm-2" data-ng-bind="students.points"></td>
          <td class="col-sm-3" data-ng-bind="students.last_activity_date"></td>
        </tr>
      </tbody>
    </table><!-- End of Engagement Index Table -->

  </div><!-- End of main div -->
</div><!-- End of dc-engagement-index -->
