<label for="dc-gallery-search-assignment">
  Select Assignment:
</label>
<select id="dc-gallery-search-assignment" ng-model="filter.assignment" ng-options="assignment.name for assignment in assignments">
  <option value="">Select All</option>
</select>

<label for="dc-gallery-search-filter">
  Filter by:
</label>
<select id="dc-gallery-search-filter" ng-model="filter.type" ng-options="item.display for item in typeOptions">
  <option value="">All Types</option>
</select>

<label for="dc-gallery-search-sort">
  Sort by:
</label>
<select id="dc-gallery-search-sort" ng-model="sort.option" ng-options="option.display for option in sortOptions"></select>

<label for="dc-gallery-search-text">
  Search For Student:
</label>
<input id="dc-gallery-search-text" type="text" ng-model="search.author">

<div class="dc-gallery-list" ng-repeat="item in items | orderBy:sort.option.type:true | filter:search | filter:{assignment_id:filter.assignment.canvas_assignment_id} | filter:{type:filter.type.value}">
  <div class="dc-thumbnail-item-container">
    {{selectedItem.itemId}}
    <button class="dc-button-link dc-thumbnail-item" ng-click="selectItem(item)" style="background-image: url({{item.image_url}})">
      <div class="dc-thumbnail-hover">
        <p>
          {{item.title}} <br>
          Posted by {{item.author}}
        </p>
      </div>
    </button>
    <div class="dc-thumbnail-caption">
      <div data-ng-include="'gallery_likes.html'"></div>

      <div>
        <span ng-pluralize count="item.comments.length" when="{'1': '1 comment', 'other': '{} comments'}"></span> &bullet;
        <span ng-pluralize count="item.views" when="{'1': '1 view', 'other': '{} views'}"></span>
      </div>
      <div>
        <span ng-if="item.date">Posted on {{item.date | date:'MM/dd/yyyy'}}</span>
      </div>
    </div>
  </div>
</div>
