<div class="dc-gallery" ng-controller="GalleryController">
  <div class="dc-gallery-container">
    <h1><a href="/gallery">Media Gallery Front-End Prototype</a></h1>

    Select Module: <select ng-model="filterModules.types" ng-options="item.display for item in moduleOptions.types" ng-change="sortType(type)"></select>

    Filter by: <select ng-model="filterGallery.types" ng-options="item.display for item in filterOptions.types" ng-change="sortType(type)"></select>

    Sort by: <select ng-model="sortMethod" ng-options="sortOptions as sortOptions.display for sortOptions in sortOptions" ng-change="switch(sortMethod)">
    <option value="">Choose One</option></select>

    Search For Student: <input type="text" ng-model="search.author"> <br> <br>

    <div ng-repeat="files in items | orderBy:sortGallery | filter:customFilter | filter:search">
      <div class="dc-thumbnail-image">
        <div style="width:200px; height:200px; margin:10px; background:url('{{files.source}}') center;
        -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
          <ul class="dc-thumbnail-hover">
            <li>
              <a ng-click="countViews(files.id)" ng-href="/{{files.type}}{{files.id}}">
              <img ng-hide="isVideo(files.id)" src="/images/transparent.png">
              <!-- <img ng-show="isVideo(files.id)" src="/images/video.png" class="dc-thumbnail-video"> -->
              </a>
              <span class="dc-thumbnail-hover-caption">
                <p>
                  {{files.title}} <br>
                  Posted by {{files.author}}
                </p>
              </span>
            </li>
          </ul>
        </div>
        <p class="dc-thumbnail-caption">
          <span ng-show="files.hasLike">
            <button ng-disabled="files.likeDisabled" ng-click="like(files.id)" class="dc-blue-thumb"><i class="fa fa-thumbs-up fa-lg"></i></button><b>{{files.numLikes}}</b>
          </span>

          <span ng-hide="files.hasLike">
            <button ng-disabled="files.likeDisabled" ng-click="like(files.id)"><i class="fa fa-thumbs-up fa-lg"></i></button>{{files.numLikes}}
          </span> &nbsp;

          <span ng-show="files.hasDislike">
            <button ng-disabled="files.dislikeDisabled" ng-click="dislike(files.id)" class="dc-blue-thumb"><i class="fa fa-thumbs-down fa-lg"></i></button><b>{{files.numDislikes}}</b>
          </span>

          <span ng-hide="files.hasDislike">
            <button ng-disabled="files.dislikeDisabled" ng-click="dislike(files.id)"><i class="fa fa-thumbs-down fa-lg"></i></button>{{files.numDislikes}}
          </span>
          <br> {{files.numComments}} comments &#8226; {{files.numViews}} views
          <br> Posted on {{files.date}}
        </p>
      </div>
    </div>
  </div>
</div>
