<div class="dc-gallery" ng-controller="GalleryController">
  <div class="dc-full-header">
    <h2>Full View of {{item.title}}</h2>
    <a href="gallery" class="dc-full-back-link">&#8592; Back to Gallery</a>
  </div>

  <div class="dc-full-container">
    <div class="dc-full-navigate" data-ng-init="fetchPreviousNext(items,imageID)">
      <p class="dc-full-align-left"><B>Filters Applied:</B> None </p>
      <p class="dc-full-align-right">
        <a ng-href="{{prevItem}}">Previous</a> &#8226;
        <a ng-href="{{nextItem}}">Next</a>
      </p>
    </div>
    <div class="dc-full-image-inline">
      <img class="dc-full-image" ng-src="{{path}}">
    </div>
    <div ng-show="hasDescription(imageID)" class="dc-full-image-description">
      {{item.description}}
    </div>
    <table>
      <tbody>
        <tr>
          <td class="dc-full-comments-position">
            <h2>Comments</h2>
            <div class="dc-load-comments" ng-repeat="comment in item.comments">
              <div class="dc-comment-inline">
                <div class="dc-comment-by-image"></div>
                <span class="dc-comment-by">Posted by {{comment.author}}</span> <br>
                {{comment.content}} <br>
                <button class="dc-comment-button" ng-click="toggleThread(comment.photoID, comment.comment_id)"><i class="fa fa-comments"></i> {{comment.threadView}}</button>
                <div ng-show="comment.showThread" ng-repeat="post in comment.thread">
                  <blockquote class="dc-comment-reply">
                    <b>{{post.author}}</b> replied with: <br>
                    {{post.content}}
                  </blockquote>
                </div>
                <button class="dc-comment-button" ng-click="showReplyThread(comment.photoID, comment.comment_id)"><i class="fa fa-mail-reply"></i> {{replyThread}}</button>
                <div ng-show="comment.replyThread"> <br>
                  <form id="add-threaded-comment">
                    <span class="dc-comment-by">{{item.commentName}}</span>&nbsp;
                    <div class="dc-comment-by-image"></div>
                    <textarea ng-model="comment.commentContent" class="dc-comment-textarea"></textarea> <br>
                    <button ng-click="submitReplyThread(comment.photoID, comment.comment_id)" ng-click="resetForm('add-threaded-comment')" class="dc-comment-button">Submit</button>
                    {{emptyReply}}
                  </form>
                </div>
              </div>
            </div>
            <form id="dc-add-comment">
              <span class="dc-comment-by">{{item.commentName}}</span>&nbsp;
              <div class="dc-comment-by-image"></div>
              <textarea class="dc-comment-textarea" ng-model="item.commentContent"></textarea> <br>
              <button ng-click="insertComment(imageID)" ng-click="resetForm('addComment')" class="dc-comment-button">Submit</button> {{emptyComment}}
            </form>
          </td>

          <td class="dc-full-details-position">
            <div class="dc-full-image-details">
              <span ng-show="item.hasLike">
                <button ng-disabled="item.likeDisabled" ng-click="like(imageID)" class="dc-blue-thumb"><i class="fa fa-thumbs-up fa-lg"></i></button><b>{{item.numLikes}}</b>
              </span>
              <span ng-hide="item.hasLike">
                <button ng-disabled="item.likeDisabled" ng-click="like(imageID)"><i class="fa fa-thumbs-up fa-lg"></i></button>{{item.numLikes}}
              </span> &nbsp;
              <span ng-show="item.hasDislike">
                <button ng-disabled="item.dislikeDisabled" ng-click="dislike(imageID)" class="dc-blue-thumb"><i class="fa fa-thumbs-down fa-lg"></i></button><b>{{item.numDislikes}}</b>
              </span>
              <span ng-hide="item.hasDislike">
                <button ng-disabled="item.dislikeDisabled" ng-click="dislike(imageID)"><i class="fa fa-thumbs-down fa-lg"></i></button>{{item.numDislikes}}
              </span>
              <br> <br>
              Posted by <b>{{item.author}}</b> on <b>{{item.date}}</b> <br>
              {{item.numComments}} comments &#8226; {{item.numViews}} views
              <div class="dc-line-break"></div>
              Category: Module {{item.module}} <br>
              Media Type: {{item.type}}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
