<div ng-controller="GalleryController" class="dc-gallery">
  <div class="dc-full-header">
    <h2>Full View of {{items[imageID].title}}</h2>
    <a href="gallery" class="dc-full-back-link">&#8592; Back to Gallery</a>
  </div>

  <div class="dc-full-container">
    <div class="dc-full-navigate" data-ng-init="fetchPreviousNext(imageID)">
      <p class="dc-full-align-left"><B>Filters Applied:</B> None</p>
      <p class="dc-full-align-right">
        <a ng-href="{{prevItem}}">Previous</a> &#8226;
        <a ng-href="{{nextItem}}">Next</a>
      </p>
    </div>
    <div class="dc-full-image-inline">
      <div data-ng-init="fetchVID(imageID)" ng-show="items[imageID].youtube">
          <iframe width="575" height="431" src="//www.youtube.com/embed/{{VID}}" frameborder="0" allowfullscreen></iframe>
      </div>
      <div ng-show="items[imageID].vimeo">
        <iframe src="//player.vimeo.com/video/{{VID}}" width="575" height="431" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    <div ng-show="hasDescription(imageID)" class="dc-full-image-description">
      {{items[imageID].description}}
    </div>
    <table>
      <tbody>
        <tr>
          <td class="dc-full-comments-position">
            <h2>Comments</h2>
            <div class="dc-load-comments" ng-repeat="comment in items[imageID].comments">
              <div class="dc-comment-inline">
                <div class="dc-comment-by-image"></div>
                <span class="dc-comment-by">Posted by {{comment.author}}</span> <br>
                {{comment.content}} <br>
                <button class="dc-comment-button" ng-click="toggleThread(comment.photoID, comment.commentID)"><i class="fa fa-comments"></i> {{comment.threadView}}</button>
                <div ng-show="comment.showThread" ng-repeat="post in comment.thread">
                  <blockquote class="dc-comment-reply">
                    <b>{{post.author}}</b> replied with: <br>
                    {{post.content}}
                  </blockquote>
                </div>
                <button class="dc-comment-button" ng-click="showReplyThread(comment.photoID, comment.commentID)"><i class="fa fa-mail-reply"></i> {{replyThread}}</button>

                <div ng-show="comment.replyThread"> <br>
                  <form id="add-threaded-comment">
                    <span class="dc-comment-by">Post as</span>&nbsp; <input ng-model="comment.commentName" class="dc-comment-name"><br>
                    <textarea ng-model="comment.commentContent" class="dc-comment-textarea"></textarea> <br>
                    <button ng-click="submitReplyThread(comment.photoID, comment.commentID)" ng-click="resetForm('add-threaded-comment')" class="dc-comment-button">Submit</button> {{emptyReply}}
                  </form>
                </div>
              </div>
            </div>
            <form id="dc-add-comment">
              <span class="dc-comment-by">Post as</span>&nbsp; <input class="dc-comment-name" ng-model="items[imageID].commentName"> <br>
              <textarea class="dc-comment-textarea" ng-model="items[imageID].commentContent"></textarea> <br>
              <button ng-click="insertComment(imageID)" ng-click="resetForm('addComment')" class="dc-comment-button">Submit</button> {{emptyComment}}
            </form>
          </td>

          <td class="dc-full-details-position">
            <div class="dc-full-image-details">
              <span ng-show="items[imageID].hasLike">
                <button ng-disabled="items[imageID].likeDisabled" ng-click="like(imageID)" class="dc-blue-thumb"><i class="fa fa-thumbs-up fa-lg"></i></button><b>{{items[imageID].numLikes}}</b>
              </span>
              <span ng-hide="items[imageID].hasLike">
                <button ng-disabled="items[imageID].likeDisabled" ng-click="like(imageID)"><i class="fa fa-thumbs-up fa-lg"></i></button>{{items[imageID].numLikes}}
              </span> &nbsp;
              <span ng-show="items[imageID].hasDislike">
                <button ng-disabled="items[imageID].dislikeDisabled" ng-click="dislike(imageID)" class="dc-blue-thumb"><i class="fa fa-thumbs-down fa-lg"></i></button><b>{{items[imageID].numDislikes}}</b>
              </span>
              <span ng-hide="items[imageID].hasDislike">
                <button ng-disabled="items[imageID].dislikeDisabled" ng-click="dislike(imageID)"><i class="fa fa-thumbs-down fa-lg"></i></button>{{items[imageID].numDislikes}}
              </span>
              <br> <br>
              Posted by <b>{{items[imageID].author}}</b> on <b>{{items[imageID].date}}</b> <br>
              {{items[imageID].numComments}} comments &#8226; {{items[imageID].numViews}} views
              <div class="dc-line-break"></div>
              Category: Module {{items[imageID].module}} <br>
              Media Type: {{items[imageID].type}}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
