<div data-ng-controller="PointsConfigurationController" class="dc-points-configuration">

  <h1>Points Configuration</h1>

  <div class="dc-points-configuration-main-container">

    <!-- BUTTONS -->
    <h2 class="dc-float-left">Course Activities</h2>
    <div class="dc-points-configuration-buttons dc-float-right" data-ng-if="me.isAdmin">
      <button class="btn btn-info" data-ng-click="editPointsConfiguration()" data-ng-if="!editMode">Edit</button>
      <button class="btn btn-success" data-ng-click="savePointsConfiguration()" data-ng-if="editMode">Save</button>
      <button class="btn btn-danger" data-ng-click="cancelPointsConfiguration()" data-ng-if="editMode">Cancel</button>
    </div>

    <!-- ACTIVITIES TABLE -->
    <div class="clearfix dc-points-configuration-table-container">
      <table class="table table-striped table-compact table-bordered">
        <tr>
          <th class="dc-text-left" scope="col">Activity</th>
          <th class="dc-text-center" scope="col">Points</th>
          <th class="dc-text-center" scope="col" data-ng-if="editMode">Action</th>
        </tr>
        <tr data-ng-repeat="activity in configuration | orderBy:'id' | filter:{active: true}">
          <td class="dc-text-left" data-ng-bind="activity.name"></td>
          <td class="dc-text-center" data-ng-bind="activity.points" data-ng-if="!editMode"></td>
          <td class="dc-text-center" data-ng-if="editMode">
            <input data-ng-model="activity.points" class="dc-points-configuration-table-points-input dc-text-center form-control"/>
          </td>
          <td class="dc-text-center" data-ng-if="editMode"><button class="btn btn-default" data-ng-click="removeActivity(activity)">Remove</button></td>
        </tr>
      </table>
    </div>

    <!-- REMOVE ACTIVITIES TABLE -->
    <div data-ng-show="hasRemovedActivities() && me.isAdmin">
      <h2>Removed Activities</h2>
      <div class="dc-points-configuration-table-container">
        <table class="table table-striped table-compact table-bordered">
          <tr>
            <th class="dc-text-left" scope="col">Activity</th>
            <th class="dc-text-center" scope="col">Points</th>
            <th class="dc-text-center" scope="col" data-ng-if="editMode">Action</th>
          </tr>
          <tr data-ng-repeat="activity in configuration | orderBy:'id' | filter:{active: false}">
            <td class="dc-text-left" data-ng-bind="activity.name"></td>
            <td class="dc-text-center" data-ng-bind="activity.points"></td>
            <td class="dc-text-center" data-ng-if="editMode"><button class="btn btn-primary" data-ng-click="enableActivity(activity)">Add</button></td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>
